.destinations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 1540px;
    margin: 0px auto;
    margin-top: 150px;
    margin-bottom: 40px;

    &-head {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }

    &-context {
        color: var(--textclr, #5E6282);
        text-align: center;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &-typography {
        color: var(--3rd, #14183E);
        text-align: center;
        font-family: Volkhov;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
    }

    &-list {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 36px;
        margin-top: 40px;
        border-radius: 20px;
    }
}

.destinations-card {
    display: flex;
    flex-direction: column;
    width: 314px;
    height: 457px;
    overflow: hidden;
    background-color: transparent !important;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0.00), 0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.01), 0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);

    & img {
        width: 100%;
        flex-shrink: 0;
        border-radius: 20px;
        height: 100%;
    }

    &-body {
        width: 100%;
        height: 130px;
        margin-top: -120px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        &-typography {
            display: flex;
            margin-top: 10px;
            justify-content: space-between;
            width: 90%;
        }

        &-country {
            color: var(--textclr, #5E6282);
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 124.5%;
            /* 22.41px */
        }

        &-price {
            color: var(--textclr, #5E6282);
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 124.5%;
            /* 22.41px */
        }

        &-navigation {
            width: 90%;
            display: flex;
            justify-content: flex-start;
            gap: 5px;

            & img {
                width: 8%;
            }

            &-content {
                color: var(--textclr, #5E6282);
                font-family: Poppins;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 124.5%;
                /* 22.41px */
            }
        }
    }
}